.view {
  .card {
    margin-bottom: 10px;
  }
}

#note-view {
  position: relative;
  #go-back {
    position: absolute;
    top: -10px;
    left: -42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-text);
    background-color: var(--button-bg);
    &:hover {
      background-color: #d6d6d6;
      color: #171717;
      svg path {
        stroke: currentColor;
      }
    }
  }
  .note-line-list {
    .note-line {
      position: relative;
      .content {
      }
      .line-id {
        position: absolute;
        right: 0px;
        bottom: 0px;
        color: rgba(#000, 0.5);
        font-size: 2rem;
        font-style: italic;
        font-weight: 400;
        user-select: none;
        &:before {
          content: "#";
        }
      }
    }
  }
  .note-actions {
    display: flex;
    .spacer {
      flex: 1 0;
    }
    #create-new {
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
      }
    }
    #remove-document {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
