.view {
  height: 100%;
  .main {
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background: #090c10;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #191c21;
    }
  }
  .actions {
    display: flex;
    margin-top: 10px;
    height: 50px;
    .spacer {
      flex: 1 0;
    }
  }
}

#note-view {
  position: relative;
  #go-back {
    position: absolute;
    top: -10px;
    left: -42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-text);
    background-color: var(--button-bg);
    &:hover {
      background-color: #d6d6d6;
      color: #171717;
      svg path {
        stroke: currentColor;
      }
    }
  }
  .note-line-list {
    padding-right: 10px;
  }
  .note-actions {
    #create-new {
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
      }
    }
    #remove-document {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
