@use "../utils/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
  height: calc(100vh - 100px);
  .title {
    text-align: center;
  }
}

.container {
  margin: 0;
  padding: 20px 30px;
  background-color: var(--container-bg);
  height: 100%;
}
