.note-shortcut-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(40px, 125px));
  gap: 20px;
}

.note-shortcut {
  display: flex;
  flex-direction: column;
  &:hover {
    .title {
      color: var(--white);
    }
  }
  .icon-wrapper {
    .icon {
      width: 100%;
      height: 100%;
      &.blue path {
        fill: var(--blue);
      }
      &.green path {
        fill: var(--green);
      }
      &.red path {
        fill: var(--red);
      }
      &.orange path {
        fill: var(--orange);
      }
      &.yellow path {
        fill: var(--yellow);
      }
      &.purple path {
        fill: var(--purple);
      }
    }
  }
  .title {
    margin-top: 10px;
    color: var(--default-text);
    user-select: none;
    cursor: pointer;
  }
}
