$wrapper-bg: #090c10;
$container-bg: #0d1117;

$card-bg: rgba(#c6ced6, 0.08);

$input-bg: #161b22;
$button-bg: #21262d;

$radius: 3px;

$default-text: #c6ced6;
$white: #fff;

$green: #238636;
$red: #d63532;
$orange: #f0883e;
$blue: #58a6ff;
$yellow: #ffd983;
$purple: #8957e5;
