.note-line {
  position: relative;
  margin-bottom: 10px;
  input.content {
    width: 100%;
  }
  .content {
    &--empty {
      font-style: italic;
      color: var(--inactive-text);
    }
  }
  .line-id {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #373b41;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    user-select: none;
    &:before {
      content: "#";
    }
  }
}
