@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--wrapper-bg);
  color: var(--default-text);
  font-size: 16px;
  font-family: "Anonymous Pro", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--default-text);
  &.is-centered {
    text-align: center;
  }
}

h1 {
  font-size: 1.5rem;
}

a {
  color: var(--blue);
  text-decoration: none;
  &:visited {
    color: var(--blue-darker);
  }
  &:hover {
    color: var(--blue-lighter);
  }
  &:focus {
    outline: none;
    text-decoration: underline;
  }
  &.is-yellow {
    color: var(--yellow);
    &:visited {
      color: var(--yellow-darker);
    }
    &:hover {
      color: var(--yellow-lighter);
    }
  }
}

button {
  margin: 0;
  padding: 5px 8px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--button-bg);
  color: var(--default-text);
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  transition: all 250ms ease, color 250ms ease;
  &.is-green {
    background-color: var(--green);
  }
  &.is-red {
    background-color: var(--red);
  }
  &.text-button {
    background-color: transparent;
  }
  &:hover {
    background-color: var(--button-bg);
    color: var(--white);
    &.is-green {
      background-color: var(--green);
      color: var(--white);
    }
    &.is-red {
      background-color: var(--red);
      color: var(--white);
    }
  }
}

input {
  margin: 0;
  padding: 7px 8px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--input-bg);
  color: var(--default-text);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  &::placeholder {
    color: var(--default-text-darker);
  }
  &:focus {
    outline: none;
  }
}
