$wrapper-bg: #090C10;
$container-bg: #0D1117;

$card-bg: rgba(#C6CED6, 0.8);

$input-bg: #161B22;
$button-bg: #21262D;

$radius: 3px;

$default-text: #C6CED6;
$white: #FFF;

$green: #238636;
$red: #D63532;
$orange: #F0883E;
$blue: #58A6FF;
$yellow: #FFD983;

